[Unit]
Description=Test pushbullet

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c "source env/bin/activate && python pushbullet_test.py"
WorkingDirectory=/home/jez/.web-plumbing
