[Unit]
Description=Book a seat on a train

[Service]
Type=oneshot
ExecStart=/bin/sh -c ". env/bin/activate && python pushbullet_tmr.py"
WorkingDirectory=/home/jez/.web-plumbing
