[Unit]
Description=Test pushbullet

[Service]
Type=oneshot
ExecStart=/bin/sh -c ". env/bin/activate && python pushbullet_test.py"
WorkingDirectory=/home/jez/.web-plumbing
